*.*~
*.in
*.gmo
Makefile
INSTALL
aclocal.m4
autom4te.cache/
config.log
config.status
configure
data/mime/revelation.desktop
install-sh
missing
mkinstalldirs
po/.intltool-merge-cache
po/POTFILES
po/stamp-it
py-compile
src/lib/config.py
src/revelation

