*.*~
*.in
*.gmo
ABOUT-NLS
Makefile
INSTALL
aclocal.m4
autom4te.cache/
compile
config.log
config.guess
config.rpath
config.status
config.sub
configure
data/mime/info.olasagasti.revelation.desktop
data/revelation.appdata.xml
data/schemas/org.revelation.gschema.valid
install-sh
missing
mkinstalldirs
po/.intltool-merge-cache
po/Makevars.template
po/POTFILES
po/Rules-quot
po/revelation.pot
po/stamp-it
po/stamp-po
po/*.header
po/*.sed
po/*.sin
po/*.gmo
py-compile
src/lib/config.py
src/revelation
