[Desktop Entry]
Version=0.3.3
Encoding=UTF-8
Name=Revelation Password Manager
GenericName=Password Manager
Comment=Organize and secure your passwords
Exec=revelation
Icon=revelation
Terminal=false
Type=Application
Categories=GNOME;Application;Office;
StartupNotify=true
MimeType=application/x-revelation;
GenericName[en_US]=Password Manager
