[Desktop Entry]
Name=Revelation Password Manager
GenericName=Password Manager
Version=0.3.3
Comment=Organize and secure your passwords
Exec=revelation
Icon=revelation
Terminal=false
Type=Application
Categories=GNOME;Application;Office;
StartupNotify=true

