.statusbar {
    padding: 6px 10px;
    border-top: 1px solid @borders;
}

.toolbar {
    padding: 0;
}

.toolbar button {
    padding: 4px;
    min-width: 28px;
    min-height: 28px;
}

.toolbar image {
    -gtk-icon-size: 24px;
}

.toolbar separator {
    margin-top: 0;
    margin-bottom: 0;
}
